.blog-header-title {
    font-weight: bold;
}

.blog-header-dislike label,
.blog-header-like label {
    font-weight: unset;
}

.blog-appreciation {
    margin-bottom: 10px;
}

.show {
    color: red;
}
